body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:1910px;
}
#u94 {
  position:absolute;
  left:196px;
  top:-89px;
  width:932px;
  height:1910px;
}
#u95 {
  position:absolute;
  left:2px;
  top:947px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u96 {
  position:absolute;
  left:297px;
  top:146px;
  width:134px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u97 {
  position:absolute;
  left:2px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u98 {
  position:absolute;
  left:432px;
  top:150px;
  width:41px;
  height:29px;
}
#u99 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u100 {
  position:absolute;
  left:595px;
  top:145px;
  width:134px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u102 {
  position:absolute;
  left:946px;
  top:145px;
  width:61px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:1px;
  width:57px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u104 {
  position:absolute;
  left:1008px;
  top:148px;
  width:54px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u106 {
  position:absolute;
  left:260px;
  top:144px;
  width:44px;
  height:38px;
  color:#1E1E1E;
}
#u107 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:250px;
  top:192px;
  width:816px;
  height:1402px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:1402px;
}
